@{
	ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" href="~/Content/Loginform.css"/>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

	<div id="loginbox">
		<div>
			<div>
				<h1 class="txtalign" style="margin-top:20%">Login</h1>
			</div>
			<div class="loginboxInside">
				<div class="form-group">
					<label for="usr">Username:</label>
					<input type="text" class="form-control" id="usr">
				</div>
				<div class="form-group">
					<label for="pwd">Password:</label>
					<input type="password" class="form-control" id="pwd">
				</div>
				<div>
					<button type="submit" style="margin-right:10%">Login</button>
					<label><input type="checkbox" />Remember me</label>
				</div>
				</div>
			</div>
	</div>

</body>
</html>
