@{
	ViewBag.Title = "Sign Up";
}
<div id="loginbox">
	<div>

		<div>
			<h1 class="txtalign" style="margin-top:20%">Sign Up</h1>
		</div>
		<div class="loginboxInside">
			<div class="form-group">
				<label for="fname">First Name </label>
				<input type="text" class="form-control" id="fname">
			</div>

			<div class="form-group">
				<label for="pwd">Last Name</label>
				<input type="text" class="form-control" id="lname">
			</div>

			<div class="form-group">
				<label for=" email"> Email</label>
				<input type="text" class=" form-control" id=" email">
			</div>

			<div class="form-group">
				<label for=" pass">Pasword </label>
				<input type="password" class="form-control" id=" pwr">
			</div>

			<div class="form-group">
				<label for=" confPass">Confirm Pasword </label>
				<input type="password" class="form-control" id=" conpwr">
			</div>

		</div>

	</div>
</div>
