body {
	background-color: yellow;
}
#loginbox{
	border: 1px solid black;
	width: 50%;
	height: 50%;
	position: center;
	margin: 2% 25% 0% 25%;
}
.loginboxInside{
	position: relative;
	margin: 10px 20% 25% 25%;
}
.txtalign{
	text-align:center;
}
